@font-face {
	font-family: 'eraserregular';
	src: url('EraserRegular-webfont.eot');
	src: url('EraserRegular-webfont?#iefix') format('embedded-opentype');
	src: url('EraserRegular-webfont.woff2') format('woff2');
	src: url('EraserRegular-webfont.woff') format('woff');
	src: url('EraserRegular-webfont.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
}
