@font-face {
    font-family: vanillaregular;
    src: url(Vanilla-webfont.woff);
}
@font-face{
    font-family: eraserregular;
    src: url(EraserRegular-webfont.woff);
}
@font-face {
    font-family: 'Arvo';
    src: url(Arvo-Regular.ttf);
}
@font-face {
font-family: 'Noto Sans TC', sans-serif;	
}
nav {
  font-family: vanillaregular;  
}
body,html {
    margin: 0;
    padding: 0;
}
#fromTheTop {
color:white;
position:absolute;
font-family: vanillaregular;
}
.fromTheBottom {
color:white;
}
.parallax {
  /* The image used */
  background-image: url("/Pictures/arParallax.jpeg");

  /* Set a specific height */
  min-height: 500px;
  width: auto; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.landingPageBackground {
	background-image:url("../Pictures/phonePopout.png");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;	
	position:fixed;
	height: 100vh;
	width: 100vw;
	overflow:block;
}
.formattingAboutDescText {
  font-family: Arvo;
  background-color: #afb63e;
  color: white;
  padding-top: 1%

}
.fixed {
position:fixed;
height:100%;
z-index:1;
background-color: #111111;
left:0;
overflow-x:hidden;
width:15%;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 9%;
}

#paddingTop50 {
  padding-top: 15%;
}
h1 {
  font-family: vanillaregular;
  color:white;
  font-size: 5em;
 
}

/* navbar item spacing */
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

/* changes the color of the text in the navbar */
.nav-link{
  color: #fff;
}

/* changes the background color of the navbar in signup and login */
.navbar-default {
	background-color: #77878B;
}
.attach-to-right-side {
	text-align: right;
}

/* centering the word "ARrrdvark" on the home(index.html) page */
.center{
 position: absolute;
 top:20%;
 left: 20%;
 z-index:1;
 font-size: 110px;
 color: #B3B3B4;
 letter-spacing: 6px; 
 font-weight: bold;
 font-family: 'Waiting for the Sunrise', cursive;
}

/* centering the word "Math" on the home(index.html) page */
.center2{
 position: absolute;
 top:80%;
 left:30%;
 z-index:1;
 color: #eee;
 font-size:200px;
}

/* image of the aardvark */
.center3{
 position: absolute;
 top:40%;
 left:50%;
 z-index:1;
}


/* Refering to the body in the sign up(signup.html) and login(login.html) page */
.moving-backgrounds{
	margin: 0;
	overflow: hidden;
}

/* Allows for about.html to have scroll powers" */
.moving-backgrounds-scroll-allow{
	margin: 0;
}

/* interactive background in sign up(signup.html) page */
canvas{
	top: 0;
	left: 0;
	display: relative;
	vertical-align: bottom;
	z-index: 0;
}

/* moving particles background in the Sign Up (singup.html) page */
#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #151231;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}
/* this is the white writing in the Sign Up(signup.html) page. */
label {
	color: #eee;
} 


/* text about the container in signup.html */
.text-center1{
	font-size: 35px;
	font-family: vanillaregular;
	color: #eeeeee;
	padding-top: 10%;
	z-index: 1;
}

/* Sign up button in signup.html */
.text-center-button{
	font-family: vanillaregular;
	color: #eee;
	margin-left: center;
}


a, a:hover, a:active, a:visited { color: white; }

@media only screen and (max-device-width: 1366px) {
  .parallax {
display:hidden;
background-attachment: scroll;
  }
}
