@font-face {
    font-family: vanillaregular;
    src: url(Vanilla-webfont.woff);
}
@font-face{
    font-family: eraserregular;
    src: url(EraserRegular-webfont.woff);
}
@font-face {
    font-family: 'Arvo';
    src: url(Arvo-Regular.ttf);
}
nav {
  font-family: vanillaregular;   
}
#landingPageBackground {
  background-image: url(chalkboardBackground.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.formattingAboutDescText {
  font-family: Arvo;
  background-color: #afb63e;
  color: white;
  padding-top: 1%

}
#paddingTop50 {
  padding-top: 15%;
}
h1 {
  font-family: eraserregular;
  color: white;
  font-size: 5em;
}

/* navbar item spacing */
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

/* changes the color of the text in the navbar */
.nav-link{
  color: #fff;
}

/* changes the background color of the navbar in signup and login */
.navbar-default {
	background-color: #77878B;
}
.attach-to-right-side {
	text-align: right;
}

/* centering the word "ARrrdvark" on the home(index.html) page */
.center{
 position: absolute;
 top:20%;
 left: 20%;
 z-index:1;
 font-size: 110px;
 color: #B3B3B4;
 letter-spacing: 6px; 
 font-weight: bold;
 font-family: 'Waiting for the Sunrise', cursive;
}

/* centering the word "Math" on the home(index.html) page */
.center2{
 position: absolute;
 top:80%;
 left:30%;
 z-index:1;
 color: #eee;
 font-size:200px;
}

/* image of the aardvark */
.center3{
 position: absolute;
 top:40%;
 left:50%;
 z-index:1;
}


/* Refering to the body in the sign up(signup.html) and login(login.html) page */
.moving-backgrounds{
	margin: 0;
	overflow: hidden;
}

/* Allows for about.html to have scroll powers" */
.moving-backgrounds-scroll-allow{
	margin: 0;
}

/* interactive background in sign up(signup.html) page */
canvas{
	top: 0;
	left: 0;
	display: relative;
	vertical-align: bottom;
	z-index: 0;
}

/* moving particles background in the Sign Up (singup.html) page */
#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #151231;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}
/* this is the white writing in the Sign Up(signup.html) page. */
label {
	color: #eee;
} 


/* text about the container in signup.html */
.text-center1{
	font-size: 35px;
	font-family: vanillaregular;
	color: #eeeeee;
	padding-top: 10%;
	z-index: 1;
}

/* Sign up button in signup.html */
.text-center-button{
	font-family: vanillaregular;
	color: #eee;
	margin-left: center;
}

.sidebar-link{
      color: #D3D3D3;
      } 

    .sidenav {
      height: 100%;
      width: 300px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #696969;
      overflow-x: hidden;
      padding-top: 20px;
      }
    .sidenav-cont{
      width: 90%;
      float: right;
      }

    .sidenav a, .dropdown-btn {
      padding: 20px 20px 20px 30px;
      text-decoration: none;
      font-size: 18px;
      color: white;
      opacity: 0.7;
      display: block;
      border: none;
      background: none;
      width: 100%;
      text-align: left;
      cursor: pointer;
      outline: none;
      }

    .sidenav p{
      text-decoration: none;
      font-size: 25px;
      font-weight: 700;
      letter-spacing: 2px;
      color: #CCCCCC;
      display: block;
      width: 100%;
      text-align: left;
      cursor: pointer;
      }

    .active {
      background-color: rgba(95, 38, 255, 0.4);
      color: white;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      }

    .active-sidebar{
      background-color: #303030;
      color: white;
      border-top-left-radius: 40px;
      }

    .active::after {
      font-weight: 900;
      display: inline-block;
      padding-right: 15px;
      font-size: 180%;
      color: #034171;
      }

    .dropdown-container {
      display: none;
      /*background-color: rgba(95, 38, 255, 0.4);*/
      opacity: 0.7;
      border-bottom-left-radius: 40px;
      }

    .dropdown-container a{
      font-size: 15px;
    }

    .fa-caret-down {
      float: right;
      padding-right: 8px;
      }

    .sidenav a:hover, .dropdown-btn:hover{
      background-color: rgba(53, 164, 255, 0.6);
      border-top-left-radius: 40px;
      opacity: 1;
      }

    .sidenav a{
      border-bottom: 3px dotted blue;
    }
    
    .active:hover{
      background-color: rgba(53, 164, 255, 0.6);
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      opacity: 1;
      }

    .dropdown-container a:hover{
      background-color: rgba(53, 164, 255, 0.6);
      border-radius: 0;
      opacity: 1;
      }

    .dropdown-container a:last-child:hover{
      border-bottom-left-radius: 40px;
      }

    .main {
      margin-left: 300px; 
      font-size: 28px; 
      padding: 0px 10px;
      }


    .navbar a:hover{
      background-color: rgba(53, 164, 255, 0.6);
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      opacity: 1;
    }

