/* navbar item spacing */
.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

/* changes the color of the text in the navbar */
.nav-link{
  color: #151231;
}

/* changes the background color of the navbar in signup and login */
.navbar-default {
	background-color: #77878B;
}

/* Standardizing the font size for the brand name in the navbar */
.navbar-brand{
	font-size: 25px;
	color: #151231;
}

/* centering the word "ARrrdvark" on the home(index.html) page */
.center{
 position: absolute;
 top:20%;
 left: 20%;
 z-index:1;
 font-size: 110px;
 color: #B3B3B4;
 letter-spacing: 6px; 
 font-weight: bold;
 font-family: 'Waiting for the Sunrise', cursive;
}

/* centering the word "Math" on the home(index.html) page */
.center2{
 position: absolute;
 top:80%;
 left:30%;
 z-index:1;
 color: #eee;
 font-size:200px;
}

/* image of the aardvark */
.center3{
 position: absolute;
 top:40%;
 left:50%;
 z-index:1;
 color: #B3B3B4
 font-size:200px;
}

/* container <div> for the ARRdvark Math written on the banner in indext.html */
.header{
position: relative;
text-align: center;
color: white;
font-size: 50px;
}


/* Refering to the body in the sign up(signup.html) and login(login.html) page */
.moving-backgrounds{
	margin: 0;
	overflow: hidden;
}

/* Allows for about.html to have scroll powers" */
.moving-backgrounds-scroll-allow{
	margin: 0;
}

/* interactive background in sign up(signup.html) page */
canvas{
	top: 0;
	left: 0;
	display: relative;
	vertical-align: bottom;
	z-index: 0;
}

/* moving particles background in the Sign Up (singup.html) page */
#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #151231;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}

/* this is the white writing in the Sign Up(signup.html) page. */
label {
	color: #eee;
} 

/* The active tab in the navbar changes color */
.active{
	background-color: #C85749;
}

/* text about the container in signup.html */
.text-center1{
	font-size: 35px;
	font-family: vanillaregular;
	color: #eee;
	margin-top: 10%;
	margin-left: 20%;
	z-index: 1;
}

/* Sign up button in signup.html */
.text-center-button{
	font-family: vanillaregular;
	color: #eee;
	margin-left: center;
}

/* ARchi the ARrrdvark photo in index.html */
.archie{
	position: relative;
}

/* sidebar wrapper in howto.html */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
