.navbar-nav > li{;
  padding-left:10px;
  padding-right:10px;
}

.center{
 position: absolute;
 top:30%;
 left: 30%;
 z-index:1;
 font-size: 50px;
 color: #B3B3B4;
}

.header{
position: relative;
text-align: center;
color: white;
font-size: 50px;
}
